body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    text-align: center;
    color: black;
    margin-top: 20px;
}

form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px black(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: gray;
}

input[type="number"], input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"] {
    background-color: white;
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: green;
}

